*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
    color: #989898;
 }

.container{
    width: 800px;
    margin: auto;
    padding: 5%;
    background-color: #FFFFFF;
}

/* =============header start============= */

header{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img{
    width: 35px;
    height: 25px;
    position: relative;
    right: 50px;
}

ul {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

.li{
    border-bottom: 1px solid #A383E9;
    color: #A383E9;
}

/* =============footer end================ */

/* ==============main start================ */

.main_parents{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main1{
    width: 50%;
    padding: 5%;
}

.main1 img{
    width: 200px;
    height: 280px;
}

.main2{
    width: 50%;
}

.main2 h1{
    padding-bottom: 20px;
}

.main2 img{
    width: 35px;
    height: 25px;
    position: relative;
    top: -110px;
    right: 17px;
}

/* ================main end=================== */

/* ================content start=============== */

.content_parents{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content1{
    width: 50%;
    padding: 5%;
}

.content1 img{
    width: 100px;
    height: 130px;
}

.content2{
    width: 50%;
}

span{
    color: #A383E9;
}

/* ================content end================== */

/* ================section start================ */

.section{
    width: 100%;
    flex-direction: row;
}

.section1{
    padding: 5%;
    border-bottom: 2px solid#A383E9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.section1 h3{
    padding-bottom: 20px;
}

.sec_left{
    position: relative;
    top: -35px;
}

.sec_right button{
    padding: 5px;
    margin: 3px;
    background-color: #A383E9;
    color: white;
    border: none;
    border-radius: 9px;
}
/* ==================section end================= */

/* ==================nav start=================== */

.nav_parents{
    width: 100%;
    height: auto;
    margin-top: 5%;
    padding: 3%;
    background-color:  #3d305e ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.nav{
    width: 20%;
}
.nav img{
    width: 110px;
    height: 170px;
}
.nav2{
    width: 80%;
}

/* =================nav end===================== */

/* =================footer_1 start============== */

.footer1_parents{
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.child_1 img{
    width: 130px;
    height: 120px;
}

 .child_2 input{
    border:none;
    border: 2px solid #A383E9;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
 } 

.child_2 button{
    padding: 10px 76px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #A383E9;
    color: white;
}

.child_3 a{
    text-decoration: none;
    list-style: none;
}

.child_4 .i{
    width: 70px;
    height: 30px;
    margin: auto;
}

/* =================footer_1 end================ */

/* =================footer_2 start============== */

.footer2_parents{
    width: 100%;
    padding: 5% 40% 5% 5%;
    margin-top: 5%; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3d305e;
}

.text_1{
    width: 60%;
}

.text_2{
    width: 20%;
}

/* ===================footer_2 end================ */
